{# app/Resources/views/Emails/registration.html.twig #}
<h3>Votre nom a été référencé sur la plateforme <a href='http://bec.uac.bj'>Bibliographie des Enseignants et Chercheurs de l'UAC</a>!</h3>

<div style="font-size: 14px; color: #555">
Bonjour Monsieur {{ name }}!

<p>L'Equipe de gestion de la plateforme BEC vous contacte parce que Monsieur {{auteur}} a référencé votre nom en tant que co-auteur pour la publication</p>

<p><<<b>{{titre}}</b> parut dans le journal <b>{{journal}}</b>>></p> Vous avez été référencé dans l'ordre {{ordre}}. 
{# example, assuming you have a route named "login" #}

<p>Vous pouvez le contacter à l'adresse {{emailAuteur}}</p>

<h3 style="color: #245269">Si vous êtes enseignant à l'Université d'Abomey-Calavi vous pouvez vous inscrire sur le site <a href='http://bec.uac.bj'>bec.uac.bj</a> pour déposer aussi vos publications.
 Pour votre inscription sur la plateforme des publications scientifiques vous avez besoin de votre email professionnel uac.bj.
</h3>
Pour obtenir votre email professionnel uac.bj, Veuillez bien vous rapprocher du Service informatique de l'Université logé au Bureau 4 du Rectorat Annexe ou ecrire à netadmin@uac.bj en mettant en copie kiki@uac.bj et solange.zannou@uac.bj.


<p>Cordialement!</p>

</div>