<h3><i class="glyphicon glyphicon-plus-sign"></i> Soumettre une publication</h3>

<ul class="nav nav-pills nav-divider">
    <li><a href="{{ path('admin_publication_new',{'type':'Article'}) }}"><i class="glyphicon glyphicon-plus-sign"></i>
            Article</a></li>
    <li><a href="{{ path('admin_publication_new',{'type':'Brevet'}) }}"> <i class="glyphicon glyphicon-plus-sign"></i>
            Brevet</a></li>
    <li><a href="{{ path('admin_publication_new',{'type':'Communication'}) }}"> <i
                    class="glyphicon glyphicon-plus-sign"></i>Communication</a></li>
    <li><a href="{{ path('admin_publication_new',{'type':'DocumentValorisation'}) }}"> <i class="glyphicon glyphicon-plus-sign"></i>
            Document de valorisation</a></li>
    <li><a href="{{ path('admin_publication_new',{'type':'DocumentVulgarisation'}) }}"> <i class="glyphicon glyphicon-plus-sign"></i>
            Document de vulgarisation</a></li>
    <li><a href="{{ path('admin_publication_new',{'type':'FicheTechnique'}) }}"> <i class="glyphicon glyphicon-plus-sign"></i>
            Fiche technique</a></li>
    <li><a href="{{ path('admin_publication_new',{'type':'Livre'}) }}"> <i class="glyphicon glyphicon-plus-sign"></i>
            Livre</a></li>
    <li><a href="{{ path('admin_publication_new',{'type':'Poster'}) }}"> <i class="glyphicon glyphicon-plus-sign"></i>
            Poster</a></li>
    <li><a href="{{ path('admin_publication_new',{'type':'Projet'}) }}"> <i class="glyphicon glyphicon-plus-sign"></i>
            Projet</a></li>

</ul>