{% extends 'layout.html.twig' %}

{% block body %}
    {% include 'publication/menuAdd.html.twig' %}

    <h1>Soumission d'une communication de colloque</h1>

    {{ form_start(form) }}



    <fieldset >
        <legend>Détails sur la communication</legend>
        <div class="col-sm-12">
            {{ form_row(form.titreFr) }} 
        </div>

        <div class="col-sm-6">
            {{ form_row(form.auteur) }} 
        </div>
        
        <div class="col-sm-6">
            {{ form_row(form.motCle) }} 
        </div>
        <div class="col-sm-12">
            {{ form_row(form.resume) }} 
        </div>



        <div class="col-sm-6">
            {{ form_row(form.conference) }} 
        </div>

        <div class="col-sm-6">
            {{ form_row(form.lieuConference) }} 
        </div>

        <div class="col-sm-6">
            {{ form_row(form.volumeLivre) }} 
        </div>     
        <div class="col-sm-6">
            {{ form_row(form.doi) }} 
        </div>
        <div class="col-sm-6">
            {{ form_row(form.datePubli) }} 
        </div>  

  

    </fieldset>

    <fieldset >
        <legend>Informations complémentaires</legend>
        <div class="col-sm-6">
            {{ form_row(form.entite) }} 
        </div>

        <div class="col-sm-6">
            {{ form_row(form.discipline) }} 
        </div>

        <div class="col-sm-6">
            {{ form_row(form.fichier) }} 
        </div>





    </fieldset>     
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}


